body {
    background: url(https://drsnyrepairs.com/img/slider/diamond-resetting.jpg);
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
}

h1 {
    text-align: center;
}

a {
    padding: 20;
    height: 80px;
    float: left;
    font-size: 30px;
    transition: .3s;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Permanent Marker', cursive;
    color: #E2472F;
}

p {
    color: white;
}

div.logo {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Permanent Marker', cursive;
    color: #E2472F;
}